# Q1
The two different bool data types are TRUE and FALSE. In python we write them as True and False

# Q2
The three different types of boolean operators are AND , OR , NOT . we can write them as (and,or,not).

In [1]:
# Q3

import pandas as pd

df = pd.DataFrame({"condition_1":["TRUE","FALSE","TRUE","FALSE","TRUE","FALSE","TRUE","FALSE","TRUE","FALSE"],"condition_2":["TRUE","TRUE","FALSE","FALSE","TRUE","TRUE","FALSE","FALSE",' ',' '],"operator":["and",'and','and',"and",'or','or','or','or',"not",'not'],"Result":["TRUE","FALSE","FALSE","FALSE","TRUE","TRUE","TRUE","FALSE","FALSE",'TRUE']})
df.head(10)

  condition_1 condition_2 operator Result
0        TRUE        TRUE      and   TRUE
1       FALSE        TRUE      and  FALSE
2        TRUE       FALSE      and  FALSE
3       FALSE       FALSE      and  FALSE
4        TRUE        TRUE       or   TRUE
5       FALSE        TRUE       or   TRUE
6        TRUE       FALSE       or   TRUE
7       FALSE       FALSE       or  FALSE
8        TRUE                  not  FALSE
9       FALSE                  not   TRUE

In [2]:
#Q4

#(5 > 4) and (3 == 5) # False
# not(5>4) # False
#(5 > 4) or (3 == 5) # True
# not((5>4) or (3==5)) # False
# (True and True) and (True == False) # False
# (not False ) or (not True)  # True

# Q5

The six comparision operators are > , <, <=,>=, ==,!=

# Q6

The equal to operator is written as == , whereas the equal for assigning operation is written as = .

The equal to operation is use to compare betwwen tow objects such as is 2 ==2 , 3 ==5 etc and it always returns 
a boolean valus True or False.

On the other hand the assigning operator = is used to assign a value to a variable or object , such as a = 5, b = 7 etc.

In [3]:
#Q7

spam = 10

if spam == 10:         #1st block
    print("eggs")

if spam >5:          # 2nd block
    print("bacon")

else:                #3rd block
    
    print("ham")
    print("spam")
    print("spam")
    
# the three blocks of the code is two if blokcs and one else block.

eggs
bacon

In [4]:
# Q8

spam = 1

if spam == 1:
    print("Hello")
elif spam ==2:
    print("Howdy")
else:
    print("Greetings!")

Hello

# Q9

To break out from endless loop press cntrl-C

# Q10

The break is use to come out from loop completely when a certain condition is met. for example let we are searching some value
in a list. so in the for loop we are going to check each element one by one , but if the number that we want is in the middle of 
the list, so after finding the number in the middle there is no point too continue the loop tiil last value , in that case we can use break.

on the other hand continue is used to pass a vlue when a condition is met and then continue the loop after skiping that particular 
value. for example if we are printing the value from a list and we want to rint all value except one value. but we dont know where
in the list we have that particular value that we dont want to print , in that case we can use for loop with a coindition that
id wqe find that vale we will use continue and print the rest except that value.

# Q11

In a for loop there is NO diffrence among range(10),range(0,10) and range(0,10,1). All of this prints a value 0 to 9.

In [12]:
#Q12

# for loop to print numbers

for num in range(11):
    print(num)

# while loop to print numbers
num = 0

while num <11:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q13

# to call a function name bacon from a module name spam

import spam

spam.bacon()