# ASSIGNMENT 01

In [18]:
import pandas as pd

# Q1

In [19]:
table = pd.DataFrame({"Values":["Hello", -87.8 ,6," "],"Expressions":["*","-","/","+"]})

In [20]:
table.head()

  Values Expressions
0  Hello           *
1  -87.8           -
2      6           /
3                  +

# Q2

<p> A variable can be defined as a data container , which can contain any type of data. The name of the variable is given by the programmer itself. The data inside the variable can be chnaged any time during the programe. On the other hand String is a data type. In python anything(any type of data) wriiten inside the quotation mark ( single or double) is considerd as string.</p>

# Q3

<p> Three different data types are mentioned below </p>
<p><b>String</b>: In python a string is anything (any data type) that is written inside quotation mark. String s are immutable.
    eg:- "ABC", "89","44.4", "+".</p>
<p><b>Integer</b>: Any numerical whole number is an integer. eg:- 7,8,9.</p>
<p><b>Float</b> : Any fraction in python is a float. eg:- 22.3, 4.8 .</p>

# Q4

An expression is a combination of variable , operatores, values or function calls. All expressions evaluates a value.

# Q5

An assignemnt consists of a value and variables on the other hand expression consist of values , variables , operators or function calls.

# Q6

value of variable bacon will remain the same which is 22.

# Q7

In [21]:
"spam"*3

'spamspamspam'

In [22]:
"spam" + "spamspam"

'spamspamspam'

 both will give the same value.

# Q8

#Egg is a valid variable name and 100 is not because a variable name can not be start with a digit or underscore.

# Q9

The required thre functions are int(),float(), str()

# Q10

The expression is showing error becasuse two diffrent data types can not be add. We can fix it just by making the integer value 99 a string using str() or by just writting it inside quotation mark.