In [4]:
#Q1

def is_symmetric(x):
    '''input: int
    output: bool , checks werher a number is symmetric or not'''
    return str(x) == str(x)[::-1]

is_symmetric(7247)

False

In [11]:
#Q2

def multiply_nums(x):
    
    '''input: str , nums separated by , and space 
    output: int, product of all nums'''
    
    nums = x.split(', ')
    result = 1
    for num in nums:
        result *= int(num)
    return result

multiply_nums("2, 3, 4")

24

In [14]:
#Q3

def square_digits(x):
    
    '''input: int
    output:int '''
    
    num = str(x)
    f_val = ''
    for n in num:
        f_val += str(int(n)**2)
    return int(f_val)

square_digits(339)

9981

In [19]:
#Q4

def setify(x):
    
    '''input: list
    output: list sorted free from duplicate values'''
    
    nw_ls = []
    for num in x:
        if num not in nw_ls:
            nw_ls.append(num)
    return sorted(nw_ls)

setify([1,1,7,7,2,2,8,99,99,99])

[1, 2, 7, 8, 99]

In [7]:
#Q5

def mean(x):
    nmrtr = 0
    dnmrtr = 0
    for d in str(x):
        nmrtr += int(d)
        dnmrtr +=1
    return int((nmrtr/dnmrtr))

mean(14386)

4