In [13]:
# Q1

def fact(x):
    
    '''input: any natural number , type int
       output: gives a factorial of a given number , type int '''
    
    if type(x) == int:
        if x == 0:
            return 1
        else:
            return x * fact(x-1)
    else:
        return print("Invalid input data type")
    
fact(3)
fact(0)
fact(3.5)

Invalid input data type

In [30]:
# Q2

def multTable(x):
    
    '''input: any real number
        output : gives the multiple table of given number'''
    if type(x) == int or type(x) == float:
        for num in range(1,11):
            print('{} * {} = {}'.format(x,num,x*num))
    else:
        print("invalid input data type")
multTable(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [19]:
# Q3

def fibo(x):
    
    '''input: any natural number, indicates the total number of fibonaci number user wants in its list , x > 1
      output: fibonaci number list of given length , type list'''
    
    fibo_num = [0,1]
    
    if x > 2:
        for n in range(x-2):
            fibo_num.append(fibo_num[-1] + fibo_num[-2])
        return fibo_num
    else:
        return fibo_num

fibo(6)

[0, 1, 1, 2, 3, 5]

In [51]:
#Q4

def isArmstrng(x):
    
    '''input : any natural numbrer
       output : checks wether the number is armstrong number or not '''
    
    order = len(str(x))
    sum_digit = 0
    num = x
    
    while num != 0:
        digit = num % 10
        sum_digit += digit ** order
        num = num // 10
        
    if sum_digit == x:
        
        return print("The number {} is an Armstrong number".format(x))
    
    return print("The number {} is not an Armstrong number".format(x))
    
isArmstrng(153)

The number 153 is an Armstrong number

In [50]:
# Q5


def isArmstrng(x):
    
    order = len(str(x))
    sum_digit = 0
    num = x
    while num != 0:
        digit = num % 10
        sum_digit += digit ** order
        num = num // 10
    if sum_digit == x:
        
        return True
    
    return False

def armstrngIntrvl(l,h):
    
    '''input: lower limit(l) and upper limit(h) any natural number
       output: gives the list of armstrong number in that interval'''
    
    ams_num_list = []
    for num in range(l,h+1):
        if isAmstrng(num):
            ams_num_list.append(num)
    return ams_num_list
        
armstrngIntrvl(10,500)

[153, 370, 371, 407]

In [54]:
# Q6

def sumNatrlNum(x):
    
    '''input : list of natural numbers
       output: sum of the natural numbres in the input list'''
    
    return sum(x)


sumNatrlNum([4,5,4,67,8])

88